@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.title {
  margin: 2em 0 .5em 0;
}

.map-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em auto;
  text-align: left;
  width: 60%;
}
.map-div li {
  font-size: 1rem;
}
.map-div p {
  font-size: .7rem;
  color: #ddd;
}
.map-div button {
  background-color: transparent;
  border: none;
  color: red;
}